<template>
  <div class="card">
    <slot />
  </div>
</template>
<style>
.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 2rem;
  width: 112rem;
  margin: 2rem auto;
}

.card.full-width {
  width: auto;
}

h2 small {
  font-size: 60%;
}

figcaption {
  font-size: 80%;
  text-align: right;
  margin-top: 0.5rem;
  line-height: 1.25;
}

figure pre {
  margin: 0;
  padding-left: 1rem;
}
</style>
