<template>
  <div class="loading">
    Loading
  </div>
</template>
<style scoped>
.loading {
  flex: none;
  text-align: center;
  margin-bottom: 2rem;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026';
  width: 0;
}

@keyframes ellipsis {
  to {
    width: 1em;
  }
}
</style>
