<template>
  <div class="container">
    <h1>Is GitLab <em>FAntastic</em> yet?</h1>
    <card>
      We want to replace Font Awesome with icons from our own
      <a href="https://gitlab.com/gitlab-org/gitlab-svgs">icon library</a>.
    </card>
    <card>
      <h2>All used Font Awesome icons</h2>
      <p>
        Currently we have around {{ findings.length }} instances of old icon
        usage. We are using {{ byIcon.length }} different icons from Font
        Awesome 4.
      </p>
      <ul class="columns-2">
        <li v-for="[name, count] in byIcon" :key="`byIcon-${name}`">
          <i :class="['fa', name, 'fa-fw']" /> {{ count }} times:
          <code>{{ name }}</code>
        </li>
      </ul>
    </card>
    <card>
      <h2>All instances in the code base</h2>
      <p>
        The following instances in the code base can be categorized into these
        categories:
      </p>
      <ul>
        <li v-for="[name, count] in byType" :key="`byType-${name}`">
          {{ count }} <em>{{ name }}</em
          >: {{ categories[name] || name }}
        </li>
      </ul>
      <label>
        Search:
        <input v-model="search" placeholder="Enter search..." />
      </label>
      <table>
        <tr>
          <th>Icon(s)</th>
          <th>Source</th>
        </tr>
        <tr
          v-for="finding in findings"
          v-show="visible[finding.url]"
          :key="finding.url"
        >
          <td>
            <template v-if="finding.icons.length">
              <i
                v-for="icon in finding.icons"
                :key="finding.url + icon"
                :class="['fa', icon, ...finding.cleanMatch.flags]"
              />
            </template>
            <template v-else>
              ???
            </template>
          </td>
          <td class="source">
            <a :href="finding.url">{{ finding.path }}:{{ finding.line }}</a>
            <span>({{ finding.type }})</span>
            <pre>{{ finding.match }}</pre>
          </td>
        </tr>
      </table>
    </card>
  </div>
</template>
<script>
import axios from 'axios';
import Card from '~/components/shared/Card.vue';

export default {
  components: {
    Card,
  },
  data() {
    return {
      findings: [],
      visible: {},
      search: '',
      categories: {
        ICON_HELPER: 'Usage of the ruby icon helper [icon()]',
        VUE_PLAIN_CLASS:
          'Usage of a plain class (e.g. <i class="fa fa-icon"> in a VUE file',
        JS_PLAIN_CLASS:
          'Usage of a plain class (e.g. <i class="fa fa-icon"> in a JS file',
        HAML_PLAIN_CLASS:
          'Usage of a plain class (e.g. <i class="fa fa-icon"> in a HAML file',
        JS_OTHER:
          'Other usage in JavaScript files, e.g. in addClass / toggleClass, et. al.',
        SCSS: 'Any usage in an SCSS file, either styling and/or @extend',
        UNKNOWN:
          'We found an `fa` class or icon helper, but it does not fix into the other categories',
      },
    };
  },
  computed: {
    byIcon() {
      const top = {};

      this.findings.forEach(finding => {
        finding.icons.forEach(icon => {
          top[icon] = (top[icon] && top[icon] + 1) || 1;
        });
      });

      return Object.entries(top).sort((x, y) => y[1] - x[1]);
    },
    byType() {
      const top = {};

      this.findings.forEach(finding => {
        const { type } = finding;
        top[type] = (top[type] && top[type] + 1) || 1;
      });

      return Object.entries(top).sort((x, y) => y[1] - x[1]);
    },
  },
  watch: {
    search(newSearch) {
      this.findings.forEach(x => {
        this.visible[x.url] = JSON.stringify(x, null, 2)
          .toLocaleLowerCase()
          .includes(newSearch.toLocaleLowerCase());
      });
    },
  },
  async mounted() {
    const { data } = await axios.get('./icons/icons.json');
    this.findings = data.findings.map(finding => {
      const icons = (finding.cleanMatch && finding.cleanMatch.icons) || [];

      const url = `https://gitlab.com/gitlab-org/gitlab/blob/${data.hash}/${finding.path}#L${finding.line}`;

      this.visible[url] = true;

      return { ...finding, icons, url };
    });
  },
};
</script>
<style scoped>
.source {
  max-width: 760px;
}

pre {
  white-space: pre-line;
  padding-left: 2rem;
}

.columns-2 {
  columns: 2;
}
</style>
