<template>
  <div class="container">
    <h1>Is GitLab <em>pretty</em> yet?</h1>
    <card>
      <h2>
        Yes!
      </h2>
      <ResponsiveVideo src="https://www.youtube.com/embed/Ye7PIyIcCro?t=51s" />
      <p>
        The frontend team at GitLab uses
        <a href="https://prettier.io/">
          <code>prettier</code>
        </a>
        to automatically format SCSS, JS and VUE files. This helps us avoid
        nit-picking during merge requests.<br />
        It took us about half a year (Mar 2018 - October 2018) to format the
        complete code base with prettier.
      </p>
      <button @click="showDetails = !showDetails">
        {{ showHide }} details
      </button>
    </card>
    <template v-if="showDetails">
      <prettier-meta-data project-key="ce" />
      <prettier-meta-data project-key="ee" />
    </template>
  </div>
</template>

<script>
import Card from '~/components/shared/Card.vue';
import PrettierMetaData from '~/components/PrettierMetaData.vue';
import ResponsiveVideo from '~/components/shared/ResponsiveVideo.vue';

export default {
  components: {
    Card,
    ResponsiveVideo,
    PrettierMetaData,
  },
  data() {
    return { showDetails: false };
  },
  computed: {
    showHide() {
      return this.showDetails ? 'Hide' : 'Show';
    },
  },
};
</script>
